body
{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        text-justify: auto;

}
h1 {
    font-size: 50px;
}
.h1-color{
    color: orange;
}
.flexible-container{
        display: flex;
      margin-bottom: 80px;

}
.half-width{
        width: 50%;
       padding-left: 5%;
       

}
.half-width img{
    width: 80%;
    padding-top: 7%;
    
}
.link-button{
    color: white;
    font-weight: 700px;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
}
.background{
    background-image: url( images/top-banner.png);
    background-repeat: no-repeat;
}
.second-section{
background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.add-padding{

    padding-right: 110px;
}
h2{
    font-size: 40px;
    font-weight: 700px;
}
.experience-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
}
.experience-item{
                width: 40%;
                margin-right: 5%;
                margin-left: 5%;
                padding-left: 20px;
                box-shadow: 10px 10px 40px gray;
               border-radius: 10px;
             

}
#junior-web{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, white);
    border-image-slice: 1;
}
footer p {
    text-align: center;

    }